<nav>
    <table>
        <tr>
            <th>
            </th>
            <th style="width: 110px;height: 90px"></th>
            <th id="nav-tag">Indian Premier League</th>
            <th style="width: 450px"></th>
            <th id="home1">Home</th>
        </tr>
    </table>

</nav>
